* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
.conta1{
  background: #181824;
  height: 100vh;
}
.cont1 {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
    align-items: center;
  padding: 0 10px; 
}


.photo {
  background-image: url(/cropped_gaming_image.png);
  height: 250px;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
}
